#friends-display-link{
    background-color: var(--lightgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0px;
}
#friends-display-link i{
    color: var(--grey);
    padding: 0px 10px;
}
.channel-header{
    border-top: 1px solid var(--lightgrey);
    color: var(--grey);
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    padding-top: 10px;
}