
.nav{
    background-color: rgba(206,206,206,0.3);
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px 0px;
    box-sizing: border-box;
    border-top: 1.5px solid var(--grey);
}
.nav__list{
    display: flex;
    justify-content: space-around;
}
.nav__link{
    color:#2f363e;
    position: relative;   
}
.nav__notification{
    background-color: tomato;
    border-radius: 50%;
    color:white;
    display: flex;
    width: 20px;
    height:20px;
    position: absolute;
    left: 15px;
    bottom: 10px;
    justify-content: center;
    align-items: center;
}
.nav__ellipsis{
    background-color: tomato;
    border-radius: 50%;
    width: 5px;
    height:5px;
    position: absolute;
    left: 25px;
    bottom: 18px;
}